.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.aboutCard {
    background-color: #FFB5E2;
    border-radius: 20px;
    width: 800px;
    padding: 40px 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.267);
    margin-bottom: 40px;
}

.aboutCardText {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;

}
.aboutCardHeading {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 10px;
   font-weight: 600;


 
}