.projectCard {
    background-color: #FFB5E2;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.267);
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectCard-heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cardTitle {
    font-family: Akaya Telivigala;
    font-size: 48px;
    margin-bottom: 0px;
    margin-top: 30px;
}

.cardSubtitle {
    font-family: Akaya Telivigala;
    font-size: 32px;
    margin-top: 2px;
    margin-bottom: 0px;
}

.project-iconGit {
    width: 45px;
    object-fit: contain;
    padding: 0px;
    margin: 0;
    background-color: rgba(238, 106, 192, 0.611);
    border-radius: 8px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.project-iconGit:hover {
    transform: scale(1.09);
    transition: transform 0.3s ease;
}