.projectCard {
    background-color: #FFB5E2;
    padding: 20px  ;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.267);
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardTitle {
    font-family: Akaya Telivigala;
    font-size: 48px;
    margin-bottom: 0px;
    margin-top: 30px;
}

.cardSubtitle {
    font-family: Akaya Telivigala;
    font-size: 32px;
    margin-top: 2px;
    margin-bottom: 0px;
}