.resume-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}


.resume-card {
   
    background-color: #FFB5E2;
    border-radius: 20px;
    width: 800px;
    padding: 40px 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.267);
    margin-bottom: 40px;
}
