.resume-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.resume-intro {
    text-align: center;
    font-weight: 500;
}

.resume-header {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}
.resume-card {

    background-color: #FFB5E2;
    border-radius: 20px;
    width: 800px;
    padding: 40px 80px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.267);
    margin-bottom: 40px;
}

.resume-headingText {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
}

.resume-text {
    margin-top: 5px;
    text-align: center;
}