.contact-page {

    padding: 0 100px;

}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    ;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact-card__heading {
    font-weight: bold;
    font-size: 26px;
    font-family: "akaya telivigala";

}



.contact-card {
    background-color: #FFB5E2;
    border-radius: 10%;
    width: 400px;
    padding: 60px 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.267);
    margin-bottom: 40px;
}



.contactInfo {
    font-family: lato, sans-serif;

    gap: 16px;

}


.iconLinkText {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.iconLink {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;

    margin-bottom: 20px;

}
.contact-iconGit {
    width: 38px;
    object-fit: contain;
    padding: 0px;
    margin: 0;
    background-color: rgba(238, 106, 192, 0.611);
    border-radius: 8px;
}

.contact-icon {
    width: 38px;
    object-fit: contain;
    padding: 0px;
    margin: 0;
}
