.contact-page {
    justify-content: center;
    padding: 0 100px;

}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.textBold {
    font-weight: bold;
    font-size: 26px;
    font-family: "akaya telivigala";
    text-align: center;
}

text {
    text-align: center;
}

.cardContact {
    background-color: #FFB5E2;
    border-radius: 10%;
    width: 400px;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.267);
    margin-bottom: 40px;
}

.textBigger {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.contactInfo {
    font-family: lato, sans-serif;
    list-style: none;

}

.contactGrid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    background: #fad1f2;
    border-radius: 15px;
    box-shadow:
        inset 0 4px 10px rgba(0, 0, 0, 0.151),
        inset 0 -4px 14px rgba(255, 255, 255, 0.267);

    font-weight: 600;

}