.contact-page {

    padding: 0px 100px;

}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact-text {

    text-align: center;
 
}





.contact-card {
    background-color: #FFB5E2;
    border-radius: 20px;
    width: 400px;
    padding: 20px 40px;
  
    display: flex;
    flex-direction: column;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.267);
    margin-bottom: 40px;
}



.contactInfo {


    gap: 16px;

}


.iconLinkText {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
}
.contact-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    background-color: #f99ddf;
    border-radius: 20px;
    padding-top: 20px;
}

.contact-details {

    font-weight: 500;
    margin-bottom: 4px;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
   

}

.iconLink {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;

    margin-bottom: 20px;

}

.contact-iconGit {
    width: 38px;
    object-fit: contain;
    padding: 0px;
    margin: 0;
    background-color: rgba(238, 106, 192, 0.611);
    border-radius: 8px;
}

.contact-icon {
    width: 38px;
    object-fit: contain;
    padding: 0px;
    margin: 0;
}

.placeButton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}