body {
  background: linear-gradient(120deg,

      #ff5fb4 10%,
      #fabb8b 40%);

  background-size: 300% 300%;
  animation: gradientMove 8s ease infinite;

  margin: 0;
} 

/*  @keyframes gradientMove {
  0% {
    background-position: 0% 10%;
  }

  50% {
    background-position: 10% 25%;
  }

  100% {
    background-position: 0% 10%;
  }
} 
  */