body {
  margin: 0;
  padding: 0;
}

.header {

  height: 60px;
  margin-top: 0px;
  padding-top: 0px;


}

.header-items {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  flex-direction: row;
  gap: 20px;
  font-size: 18px;
  font-style: bold;
}

