.startpage {
    font-size: 24px;
    display: flex;
    margin-top: 60px;
    flex-direction: row;

    justify-content: center;
    gap: 80px;
}

.card {
    background-color: #FFB5E2;
    border-radius: 10%;
    width: 400px;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;

    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.267);
}

.title {
    font-family: Akaya Telivigala;
    text-align: center;
}


#intro {
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}


#name {
    font-size: 70px;
    font-weight: bold;

    margin: 0px;
    padding: 0px;
}

#description {
    font-size: 20px;
    text-align: center;
}

.button {
    background: linear-gradient(180deg, #fd57a7, #f50384);
    height: 50px;
    border: none;
    font-size: 14px;
    color: white;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 25px;
    box-shadow: #b40364 3px 3px 5px;
}

.button:hover {
    background: linear-gradient(180deg, #eb509b, #df0278);
    transform: scale(1.05);
       transition: transform 0.3s ease;
}

.image-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin-top: 20px;
}

.rectangle {
    width: 270px;
    object-fit: contain;
    position: absolute;
    top: 10px;
    left: 10px;

}


.profilePic {
    width: 270px;
    object-fit: contain;
    border-radius: 10%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.336);
    position: absolute;
    top: 50px;
    left: 50px;
}

#workplace {
    width: 240px;
    object-fit: contain;
    position: absolute;
    bottom: 40px;
    left: 200px;
}
