.projects-page {
    justify-content: center;
    padding: 0 200px;

}



.imageDesktop {
    width: 1000px;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 10px;
}


 .imageDesktopContainer {
    display: flex;
   align-items: center;
   flex-direction: column;
} 
 
.project-image {
    width: 200px;
    object-fit: contain;
    padding: 20px;
}

imagePhoneContainer {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.roleTitle {
    font-weight:500;
    margin-bottom: 0px;
}