

.nav-links {
  text-decoration: none;
  color: #333;

  margin: 10px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}


.title {
  font-family: 'Akaya Telivigala';
  font-size: 60px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

p{
  font-size: 20px;
  max-width: 800px;
}