 :root {
  font-family: Lato;

  font-weight: 400;
  margin: 0;
  padding: 0;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.774);
  padding-left: 40px;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



